<!DOCTYPE html>
<html lang="ru">
<style>
    body {background-color: honeydew}</style>
<head>
    <meta charset="UTF-8">
    <title>My_wife</title>
</head>
<body>
<h1>Мария Давыдова</h1>
<img src="D:\фото\с айфона\LQZV6382.JPG"  alt="my wife's foto" width="300" height="200"/>
<p><strong>Всем привет, это <a href="https://vk.com/glazamaria">страница</a> моей любимой жены!</strong></p>
<p>О ней я могу рассказывать <del>часами</del>, ведь она меня поддерживает в моих начинаниях!</p>
<br>
<p><div>Только <em>благодаря ее поддержке</em>, я пытаюсь найти себя в новой сфере - <mark>Python Developer!</mark></div></p>
<p>И <ins>совершенно уверен</ins>, что смогу оправдать ее ожидания.</p>
</body>
</html>